.label-style{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color:#33313B;
}
.warning h1{
    font-size: 15px;
    font-weight: bold;
    color: #33313B;
    justify-content: center;
    display: flex;
}
.style-image{
    width: 126px;
}
.style-image-password{
    width: 420px;
}
.style-icon-warning{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
